<!doctype html>
<html>
    <head>
        <title>MusiMap Home</title>
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="./css/homeScreen.css" rel="stylesheet">

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="container">
                <div class="navmenu">
                    <a href="home">Home</a>
                    <a href="help">Help</a>

                <div class="searchbar">
                    <input type="text" name="search" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            <div>
                <h3><a href="map">Temporary Link to Map Page</a></h3>
                <iframe src="map" style="border:none;" height="240" width="720"></iframe>
            </div>
    </nav>

        <div class="add">
            <h3><a href="artistscreen/Megadeth">Explore artist: Megadeth</a></h3>
            <h3><a href="artistscreen/Death">Explore artist: Death</a></h3>
            <h3><a href="artistscreen/Emperor">Explore artist: Emperor</a></h3>
        </div>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>

    </body>
</html>
